/**
	Author: Jordan Ho
**/
body {
  background-color: linen;
}
h1 {
  color: maroon;
  text-align: center;
  border: 2px solid maroon;
  border-radius: 5px;
  font-family: sans-serif;
}
img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
p {
	color: maroon;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}
select {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
option {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
input[type="radio"]{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	vertical-align: middle;
  	list-style-position: inside;
}
label{
	color: maroon;
	font-weight: bold;
	font-size:16px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	vertical-align: middle;
  	text-align: center;
  	list-style-position: outside;
}
textarea {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
button {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
	color: maroon;
	font-weight: bold;
	text-align: center;
	font-size:24px;
}
ul {
	color: maroon;
	font-weight: bold;
	text-align: center;
	list-style-position: inside;
	font-size:18px;
}
/* Dropdown Button */
.dropbtn {
  background-color: maroon;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-family: sans-serif;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 16px;
  font-family: sans-serif;
  color: maroon;
  max-height:150px;
  overflow-y: auto;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
  max-height:150px;
  overflow-y: auto;
  color: maroon;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #808080;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
